* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    overflow: hidden;
}

.header {
    background-color: #00000070;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header h1 {
    margin-right: 10px;
    font-size: 1.5em;
}

.header img {
    height: 40px;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    position: relative;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.751));
    z-index: 1;
}

.swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.swiper-slide h1 {
    position: absolute;
    bottom: 12vh;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 2.5em;
    z-index: 2;
}

.contact-button {
    position: fixed;
    bottom: 4vh;
    right: 20px;
    left: 20px;
    height: 8vh;
    z-index: 1001;
}

.contact-button button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    height: 100%;
}

.contact-button button:hover {
    background-color: #0056b3;
}

.contact-section {
    width: 100%;
    height: 75vh;
    padding: 30px;
    background-color: #000000e3;
    color: white;
    position: absolute;
    bottom: -100%;
    border-radius: 20px 20px 0 0;
    z-index: 2000;
    overflow-y: auto;
    transition: bottom 0.3s ease-in-out;
}
.contact-section h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.contact-section .contact-title {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    margin-bottom: 15px;
    gap: 10px;
}

.contact-section .contact-info {
    margin-bottom: 20px;
}

.contact-section .contact-info button {
    background: #0056b3;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
}

.contact-section .contact-info img {
    width: 100%;
    border-radius: 10px;
}

.contact-section .close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 25px;
}

.contact-section .close-button:hover {
    color: #007bff;
}

@media (min-width: 768px) {

    .swiper-slide h1 {
        bottom: 14vh;
        font-size: 3.5em;
        padding: 30px;
    }

    .contact-button {
        font-size: 1.5em;
        bottom: 6vh;
        height: 8vh;
    }

    .contact-button button {
        padding: 15px 30px;
    }

    .contact-section h2 {
        font-size: 2em;
    }

    .contact-section .close-button {
        font-size: 40px;
        top: 30px;
        left: 30px;
    }

    .contact-section .contact-title {
        font-size: 1.6em;
        gap: 15px;
        margin-bottom: 20px;
    }

    .contact-section .contact-info {
        margin-bottom: 25px;
    }

    .contact-section .contact-info button {
        font-size: 1.3em;
        padding: 20px 30px;
        border-radius: 10px;
    }
}

@media (min-width: 992px) {

    .swiper-slide h1 {
        bottom: 18vh;
        font-size: 4em;
        padding: 40px;
    }

    .contact-button {
        font-size: 2em;
        bottom: 8vh;
        height: 10vh;
    }

    .contact-button button {
        padding: 20px 40px;
    }

    .contact-section h2 {
        font-size: 2.2em;
    }

    .contact-section .close-button {
        font-size: 50px;
        top: 30px;
        left: 30px;
    }

    .contact-section .contact-title {
        font-size: 1.8em;
        gap: 15px;
        margin-bottom: 25px;
    }

    .contact-section .contact-info {    
        margin-bottom: 30px;
    }

    .contact-section .contact-info button {
        font-size: 1.5em;
        padding: 20px 30px;
        border-radius: 10px;
    }
}


@media (min-width: 1200px) {
    
    .contact-button {
        display: none;
    }
    
    .main-content {
        display: flex;
        height: 100vh;
    }
    
    .contact-section {
        position: static;
        width: 35%;
        height: 100vh;
        border-radius: 0;
        transition: none;
        overflow-y: auto;
    }

    .contact-section .close-button {
        display: none;
    }

     .swiper-slide h1 {
        bottom: 50px;
        font-size: 4.5em;
        padding: 20px;
    }

}